<p class="lead">
    This is a playground. You can start new game or paste game state from clipboard.
</p>
<p class="lead">
    Each game action will show game state difference. Apply or Cancel it.
</p>
<p class="lead">
    Observe list of messages after each action by corresponding button click.
</p>

